.header {

    .header-image {
        background-image: url("/img/Agency header 01 large.png");
        background-color: #cccccc;
        height: 90vh;
        //   background-position: center;
        //?? NO need to put background position here, bcz it will effect the view; (height:80vh) won't work then
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: auto;
        overflow: hidden;
        // justify-self: center;
    }


    .header-text {
        //??WE ARE CREATIVE AGENCY (FULL)

        color: white;
        display: flex;
        flex-direction: column;
        //!!IMp
        // position: absolute;
        // margin: 220px 80px;




        h5 {
            /* WE ARE */

            position: absolute;
            width: 150px;
            height: 44px;
            left: 9%;
            top: 36%;

            font-family: 'Rosario',
                sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 44px;

            /* identical to box height */

            color: #000000;
        }


        h3 {
            /* CREATIVE */

            position: absolute;
            width: 404px;
            height: 82px;
            left: 7%;
            top: 40%;

            font-family: 'Sanchez',
                serif;
            font-style: normal;
            font-weight: normal;
            font-size: 64px;
            line-height: 82px;

            /* identical to box height */
            letter-spacing: 0.155em;

            color: #000000;
        }



        h1 {
            // font-size: 3rem;
            /* AGENCY */

            position: absolute;
            width: 140px;
            height: 42px;
            left: 24%;
            top: 52%;

            font-family: 'Roboto',
                sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 42px;

            color: #000000;

        }
    }



    .header-text2 {

        h5 {
            /* GROW &NURTURE */
            position: absolute;
            width: 350px;
            height: 2px;
            left: 14%;
            top: 60%;
            font-family: 'Acme',
                sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 1px;
            /* identical to box height, or 8% */
            letter-spacing: 0.15em;
            color: #FFFFFF;
        }

        h3 {
            /* THE IDEAS YOU HAVE */

            position: absolute;
            width: 579px;
            height: 2px;
            left: 12%;
            top: 64%;
            font-family: 'Acme',
                sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 1px;
            /* identical to box height, or 6% */
            letter-spacing: 0.15em;
            color: #FFFFFF;
        }

        h1 {
            /* WITH US */
            position: relative;
            visibility: hidden;
            //?? visibility hidden
            width: 93px;
            height: 2px;
            left: 165px;
            top: 390px;
            font-family: 'Acme',
                sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 1px;
            /* identical to box height, or 7% */
            letter-spacing: 0.15em;
            color: #FFFFFF;
        }
    }
}




@media all and (max-width:1400px) {
    .header {

        .header-image {
            background-image: url("/img/Agency header 01 large.png");
            background-color: #cccccc;
            height: 100vh;
            //   background-position: center;
            //?? NO need to put background position here, bcz it will effect the view; (height:80vh) won't work then
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            width: auto;
            overflow: hidden;
            // justify-self: center;
        }


        .header-text {
            //??WE ARE CREATIVE AGENCY (FULL)
            display: flex;
            flex-direction: column;

            h5 {
                /* WE ARE */

                position: absolute;
                width: 150px;
                height: 44px;
                left: 9%;
                top: 36%;

                font-family: 'Rosario',
                    sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 36px;
                line-height: 44px;

                /* identical to box height */

                color: #000000;
            }


            h3 {
                /* CREATIVE */

                position: absolute;
                width: 404px;
                height: 82px;
                left: 7%;
                top: 40%;

                font-family: 'Sanchez',
                    serif;
                font-style: normal;
                font-weight: normal;
                font-size: 64px;
                line-height: 82px;

                /* identical to box height */
                letter-spacing: 0.155em;

                color: #000000;
            }



            h1 {
                // font-size: 3rem;
                /* AGENCY */

                position: absolute;
                width: 140px;
                height: 42px;
                left: 24%;
                top: 50%;

                font-family: 'Roboto',
                    sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 36px;
                line-height: 42px;

                color: #000000;

            }
        }



        .header-text2 {

            h5 {
                /* GROW &NURTURE */
                position: absolute;
                width: 350px;
                height: 2px;
                left: 14%;
                top: 63.5%;
                font-family: 'Acme',
                    sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 1px;
                /* identical to box height, or 8% */
                letter-spacing: 0.15em;
                color: #FFFFFF;
            }

            h3 {
                /* THE IDEAS YOU HAVE */

                position: absolute;
                width: 579px;
                height: 2px;
                left: 12%;
                top: 67%;
                font-family: 'Acme',
                    sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 1px;
                /* identical to box height, or 6% */
                letter-spacing: 0.15em;
                color: #FFFFFF;
            }

            h1 {
                /* WITH US */
                position: relative;
                visibility: hidden;
                //?? visibility hidden
                width: 93px;
                height: 2px;
                left: 165px;
                top: 390px;
                font-family: 'Acme',
                    sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 1px;
                /* identical to box height, or 7% */
                letter-spacing: 0.15em;
                color: #FFFFFF;
            }
        }
    }
}

@media all and (max-width:1100px) {
    .header {
        .header-image {
            background-image: url("/img/agency header01 small02.png");
            background-color: #cccccc;
            height: 50vh;
            margin-top: 180px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }

        .header-text {
            display: none;
        }

        .header-text2 {
            display: none;
        }
    }
}

@media all and (max-width:800px) {
    .header {
        .header-image {
            margin-top: 100px;
        }
    }
}

@media all and (max-width:440px) {
    .header {
        .header-image {
            margin-top: 100px;
        }
    }
}
