@media screen and (max-width: 850px) {

    /* MENU STYLES */
    .topbar {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: auto;

        .company {
            margin: 5px auto;
            font-size: 1.5rem;
        }

        .main-nav {
            margin: 0 auto;

            ul {
                li {
                    padding: 30px;
                    margin: auto;

                    &:first-child {
                        padding-left: -40px;
                    }

                    a {
                        &:first-child {
                            margin-left: -30px;
                        }

                        &:last-child {
                            margin-right: 0px;
                        }

                        &:hover {
                            //!!Final hover effect
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }

        .social-nav {
            display: none;
        }
    }
}


@media screen and (max-width: 580px) {

    /* MENU STYLES */
    .topbar {
        .company {
            margin: 10px auto;
        }

        .main-nav {


            ul {

                &:first-child {
                    padding-left: 0px;
                }

                li {
                    // margin: 0 auto;
                    font-size: 0.7rem;
                    padding: 20px;
                    margin: auto;

                    a {
                        &:first-child {
                            margin-left: 30px;
                        }

                        &:last-child {
                            margin-right: 0px;
                        }
                    }
                }
            }

            ul li a:first-child {
                margin-left: 0;
            }
        }
    }
}


@media screen and (max-width: 437px) {

    /* MENU STYLES */
    .topbar {
        .main-nav {

            margin: 0 auto;
            font-size: 0.7rem;

            ul {

                li {
                    padding: 10px;

                    a {

                        letter-spacing: 0;
                    }
                }
            }
        }

        .social-nav {
            display: none;
        }

    }
}
