* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Raleway',
        sans-serif;
    padding: 0;
    margin: 0;
    color: #000;
}

//!!Laptop+

.except-footer-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}



// .mainNav ul {
//   padding: 0;
// }
