* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
  color: #000;
}

.except-footer-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

a {
  text-decoration: none;
}

.colortop {
  position: fixed;
  max-width: 120rem;
  width: 80%;
  top: 0;
  z-index: 1;
  margin: 0 auto;
}

.colortop .topbar {
  background-color: #EEE;
  width: 100vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.colortop .topbar .company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  margin-left: 30px;
  font-size: 3rem;
  font-weight: 300;
  -webkit-transform: translateX(-100rem);
          transform: translateX(-100rem);
  -webkit-animation: slideIn .5s forwards;
          animation: slideIn .5s forwards;
}

.colortop .topbar .company img {
  height: 62px;
  width: 59px;
}

.colortop .topbar .company span {
  margin-top: 10px;
  margin-left: 10px;
  font-family: 'Iceberg', cursive;
  font-size: 24px;
  font-weight: bolder;
  color: #0B507A;
}

.colortop .topbar .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}

.colortop .topbar .main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.colortop .topbar .main-nav ul li {
  list-style: none;
  -webkit-transform: translateX(100rem);
          transform: translateX(100rem);
  -webkit-animation: slideIn .5s forwards;
          animation: slideIn .5s forwards;
}

@-webkit-keyframes slideIn {
  from {
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideIn {
  from {
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.colortop .topbar .main-nav ul li a {
  padding: 1rem 0;
  margin: 0 1rem;
  position: relative;
  letter-spacing: 2px;
  color: #000000;
}

.colortop .topbar .main-nav ul li a:hover {
  text-decoration: line-through;
}

.colortop .topbar .social-nav {
  -webkit-transform: translateX(-100rem);
          transform: translateX(-100rem);
  -webkit-animation: slideIn .5s forwards;
          animation: slideIn .5s forwards;
}

.colortop .topbar .social-nav ul {
  padding-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.colortop .topbar .social-nav ul li {
  list-style: none;
  font-size: 25px;
}

.colortop .topbar .social-nav ul li a {
  padding: 2px;
}

@media screen and (max-width: 850px) {
  /* MENU STYLES */
  .colortop {
    background-color: #EEE;
    position: fixed;
    max-width: 120rem;
    width: 100%;
    top: 0;
    z-index: 1;
  }
  .colortop .topbar {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: auto;
    top: 0;
  }
  .colortop .topbar .company {
    margin: 5px auto;
    font-size: 1.5rem;
  }
  .colortop .topbar .main-nav {
    margin: -30px auto;
    font-size: 1rem;
    line-height: 0rem;
  }
  .colortop .topbar .main-nav ul li {
    padding: 30px;
    margin: auto;
  }
  .colortop .topbar .main-nav ul li:last-child {
    padding-right: 0px;
  }
  .colortop .topbar .main-nav ul a:first-child {
    margin-left: -30px;
  }
  .colortop .topbar .main-nav ul a:last-child {
    margin-right: 0px;
  }
  .colortop .topbar .main-nav ul a:hover {
    text-decoration: line-through;
  }
  .colortop .social-nav {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  /* MENU STYLES */
  .topbar .company {
    margin: 10px auto;
  }
  .topbar .main-nav ul:first-child {
    padding-left: 0px;
  }
  .topbar .main-nav ul li {
    font-size: 0.7rem;
    padding: 20px;
    margin: auto;
  }
  .topbar .main-nav ul li a:first-child {
    margin-left: 30px;
  }
  .topbar .main-nav ul li a:last-child {
    margin-right: 0px;
  }
  .topbar .main-nav ul li a:first-child {
    margin-left: 0;
  }
}

@media screen and (max-width: 346px) {
  /* MENU STYLES */
  .topbar .company {
    margin: 10px auto;
  }
  .topbar .main-nav ul:first-child {
    padding-left: 0px;
  }
  .topbar .main-nav ul li {
    font-size: 0.7rem;
    padding: 20px;
    margin: auto;
  }
  .topbar .main-nav ul li a:first-child {
    margin-left: -40px;
  }
  .topbar .main-nav ul li a:last-child {
    margin-right: 0px;
  }
  .topbar .main-nav ul li a:first-child {
    margin-left: 0;
  }
}

.header .header-image {
  background-image: url("/img/Agency header 01 large.png");
  background-color: #cccccc;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: auto;
  overflow: hidden;
}

.header .header-text {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .header-text h5 {
  /* WE ARE */
  position: absolute;
  width: 150px;
  height: 44px;
  left: 9%;
  top: 36%;
  font-family: 'Rosario', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */
  color: #000000;
}

.header .header-text h3 {
  /* CREATIVE */
  position: absolute;
  width: 404px;
  height: 82px;
  left: 7%;
  top: 40%;
  font-family: 'Sanchez', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 82px;
  /* identical to box height */
  letter-spacing: 0.155em;
  color: #000000;
}

.header .header-text h1 {
  /* AGENCY */
  position: absolute;
  width: 140px;
  height: 42px;
  left: 24%;
  top: 48%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}

.header .header-text2 h5 {
  /* GROW &NURTURE */
  position: absolute;
  width: 350px;
  height: 2px;
  left: 14%;
  top: 60%;
  font-family: 'Acme', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1px;
  /* identical to box height, or 8% */
  letter-spacing: 0.15em;
  color: #FFFFFF;
}

.header .header-text2 h3 {
  /* THE IDEAS YOU HAVE */
  position: absolute;
  width: 579px;
  height: 2px;
  left: 12%;
  top: 64%;
  font-family: 'Acme', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1px;
  /* identical to box height, or 6% */
  letter-spacing: 0.15em;
  color: #FFFFFF;
}

.header .header-text2 h1 {
  /* WITH US */
  position: relative;
  visibility: hidden;
  width: 93px;
  height: 2px;
  left: 165px;
  top: 390px;
  font-family: 'Acme', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1px;
  /* identical to box height, or 7% */
  letter-spacing: 0.15em;
  color: #FFFFFF;
}

@media all and (max-width: 1400px) {
  .header .header-image {
    background-image: url("/img/Agency header 01 large.png");
    background-color: #cccccc;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: auto;
    overflow: hidden;
  }
  .header .header-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .header-text h5 {
    /* WE ARE */
    position: absolute;
    width: 150px;
    height: 44px;
    left: 9%;
    top: 36%;
    font-family: 'Rosario', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    color: #000000;
  }
  .header .header-text h3 {
    /* CREATIVE */
    position: absolute;
    width: 404px;
    height: 82px;
    left: 7%;
    top: 40%;
    font-family: 'Sanchez', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 82px;
    /* identical to box height */
    letter-spacing: 0.155em;
    color: #000000;
  }
  .header .header-text h1 {
    /* AGENCY */
    position: absolute;
    width: 140px;
    height: 42px;
    left: 24%;
    top: 50%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
  }
  .header .header-text2 h5 {
    /* GROW &NURTURE */
    position: absolute;
    width: 350px;
    height: 2px;
    left: 14%;
    top: 63.5%;
    font-family: 'Acme', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1px;
    /* identical to box height, or 8% */
    letter-spacing: 0.15em;
    color: #FFFFFF;
  }
  .header .header-text2 h3 {
    /* THE IDEAS YOU HAVE */
    position: absolute;
    width: 579px;
    height: 2px;
    left: 12%;
    top: 67%;
    font-family: 'Acme', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 1px;
    /* identical to box height, or 6% */
    letter-spacing: 0.15em;
    color: #FFFFFF;
  }
  .header .header-text2 h1 {
    /* WITH US */
    position: relative;
    visibility: hidden;
    width: 93px;
    height: 2px;
    left: 165px;
    top: 390px;
    font-family: 'Acme', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 1px;
    /* identical to box height, or 7% */
    letter-spacing: 0.15em;
    color: #FFFFFF;
  }
}

@media all and (max-width: 1100px) {
  .header .header-image {
    background-image: url("/img/agency header01 small02.png");
    background-color: #cccccc;
    height: 50vh;
    margin-top: 68px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .header .header-text {
    display: none;
  }
  .header .header-text2 {
    display: none;
  }
}

@media all and (max-width: 800px) {
  .header .header-image {
    margin-top: 100px;
  }
}

@media all and (max-width: 440px) {
  .header .header-image {
    margin-top: 100px;
  }
}

.services-overview {
  text-align: center;
}

.services-overview .services-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 100vh;
  margin: 10px 0;
}

.services-overview .services-text .services-text-1 {
  font-family: 'Raleway', sans-serif;
  font-size: 66px;
  margin: 5px auto;
}

.services-overview .services-text .services-text-2 {
  font-family: 'Raleway', sans-serif;
  font-size: 33px;
  max-width: 1600px;
  margin: 0 auto 20px;
}

.services-overview .services-text .clients {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(5%, 15%))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(5%, 15%));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-overview .services-text .clients img {
  display: block;
  width: 80%;
  max-height: 80%;
}

.services-overview .services-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
  top: -20%;
  line-height: 1.2;
}

.services-overview .services-container .service-subject {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  height: 80vh;
  -ms-grid-columns: 60% auto;
      grid-template-columns: 60% auto;
  -ms-grid-rows: 100px 150px 100px;
      grid-template-rows: 100px 150px 100px;
      grid-template-areas: "title image" "description image" "button image";
  margin: 10% 20px auto;
}

.services-overview .services-container .service-subject .service-not-img .service-title {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
}

.services-overview .services-container .service-subject .service-not-img .service-description {
  font-family: 'Raleway', sans-serif;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: description;
  font-size: 20px;
}

.services-overview .services-container .service-subject .service-not-img .service-button {
  font-family: 'Raleway', sans-serif;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: button;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.services-overview .services-container .service-subject .service-not-img .service-button .service-button-1 {
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  background-color: #a77c43;
  font-size: 22px;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.services-overview .services-container .service-subject .service-not-img .service-button .service-button-2 {
  font-family: 'Raleway', sans-serif;
  margin-left: 40px;
  padding: 10px;
  background-color: #c08537;
  font-size: 22px;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.services-overview .services-container .service-subject .service-img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: image;
  -ms-grid-column-align: end;
      justify-self: end;
}

.services-overview .services-container .service-subject .service-img img {
  height: 90%;
  width: 90%;
}

@media all and (max-width: 1100px) {
  .services-overview .services-text {
    height: 50vh;
  }
  .services-overview .services-container .service-subject {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    height: 45vh;
  }
  .services-overview .services-container .service-subject .service-not-img .service-description p {
    font-size: 16px;
  }
  .services-overview .services-container .service-subject .service-not-img .service-button .service-button-1 {
    font-size: 20px;
  }
  .services-overview .services-container .service-subject .service-not-img .service-button .service-button-2 {
    font-size: 20px;
  }
}

@media all and (max-width: 900px) {
  .services-overview {
    text-align: center;
  }
  .services-overview .services-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    height: 45vh;
    margin: 40px 0;
  }
  .services-overview .services-text .services-text-1 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    margin: 5px auto;
  }
  .services-overview .services-text .services-text-2 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    max-width: 800px;
    margin: 0 auto 20px;
  }
  .services-overview .services-text .clients {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(5%, 20%))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(5%, 20%));
  }
  .services-overview .services-text .clients img {
    display: block;
    width: 70%;
    max-height: 80%;
    max-width: 800px;
    margin: 0 auto;
  }
  .services-overview .services-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 100px;
  }
  .services-overview .services-container .service-subject {
    display: -ms-grid;
    display: grid;
    height: 75vh;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 40px 110px 400px 60px;
        grid-template-rows: 40px 110px 400px 60px;
        grid-template-areas: "title" "description" "image" "button";
  }
  .services-overview .services-container .service-subject .service-not-img .service-title {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 900;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: title;
  }
  .services-overview .services-container .service-subject .service-not-img .service-description {
    font-family: 'Raleway', sans-serif;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: description;
    font-size: 25px;
  }
  .services-overview .services-container .service-subject .service-not-img .service-button {
    font-family: 'Raleway', sans-serif;
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: button;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    margin: 65% 100px 0;
  }
  .services-overview .services-container .service-subject .service-not-img .service-button .service-button-1 {
    padding: 10px solid burlywood;
    background: solid burlywood;
    font-size: 20px;
  }
  .services-overview .services-container .service-subject .service-not-img .service-button .service-button-2 {
    font-size: 20px;
    margin-left: 40px;
    color: white;
  }
  .services-overview .services-container .service-subject .service-img {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: image;
  }
  .services-overview .services-container .service-subject .service-img img {
    height: 400px;
    width: 700px;
    margin-right: 50px;
  }
}

@media all and (max-width: 500px) {
  .services-overview {
    text-align: center;
  }
  .services-overview .services-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    height: 40vh;
    margin: 40px 0;
  }
  .services-overview .services-text .services-text-1 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin: 5px auto;
  }
  .services-overview .services-text .services-text-2 {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 20px;
  }
  .services-overview .services-text .clients {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(5%, 15%))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(5%, 15%));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services-overview .services-text .clients img {
    display: block;
    width: 80%;
    max-height: 80%;
  }
  .services-overview .services-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 100px;
  }
  .services-overview .services-container .service-subject {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    height: 80vh;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: 100px 150px 400px 100px;
        grid-template-rows: 100px 150px 400px 100px;
        grid-template-areas: "title" "description" "image" "button";
    margin: -100px 5px 0;
  }
  .services-overview .services-container .service-subject .service-not-img .service-title {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: title;
  }
  .services-overview .services-container .service-subject .service-not-img .service-description {
    font-family: 'Raleway', sans-serif;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: description;
    font-size: 80%;
  }
  .services-overview .services-container .service-subject .service-not-img .service-description p {
    font-size: 12px;
  }
  .services-overview .services-container .service-subject .service-not-img .service-button {
    font-family: 'Raleway', sans-serif;
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: button;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .services-overview .services-container .service-subject .service-not-img .service-button .service-button-1 {
    padding: 10px solid burlywood;
    background: solid burlywood;
    font-size: 15px;
  }
  .services-overview .services-container .service-subject .service-not-img .service-button .service-button-2 {
    font-size: 15px;
    margin-left: 40px;
    color: white;
  }
  .services-overview .services-container .service-subject .service-img {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: image;
  }
  .services-overview .services-container .service-subject .service-img img {
    height: 50%;
    width: 80%;
    margin-top: -80px;
    margin-left: 40px;
  }
}

@media all and (max-width: 375px) {
  .services-overview .services-container .service-subject {
    height: 75vh;
    margin-top: 5px;
  }
}

@media all and (max-width: 335px) {
  .services-overview .services-container .service-subject {
    height: 80vh;
  }
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 30px;
  margin-top: 10px;
  background-color: #2E2E54;
  color: #fff;
  margin-top: -150px;
}

.footer-container .fotr-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-container .fotr-main .fotr-contract {
  width: 50%;
}

.footer-container .fotr-main .fotr-help {
  width: 50%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-container .fotr-main .fotr-help a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.911);
}

.footer-container .fotr-rights {
  max-width: 800px;
  margin: 0 auto;
}

@media all and (max-width: 650px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 30px;
    margin-top: 10px;
    background-color: #2E2E54;
    color: #fff;
  }
  .footer-container .fotr-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-container .fotr-main .fotr-contract {
    width: 90%;
  }
  .footer-container .fotr-main .fotr-help {
    width: 90%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .footer-container .fotr-main .fotr-help a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.911);
  }
  .footer-container .fotr-rights {
    width: 100%;
    font-size: 20px;
    max-width: 1100px;
    margin: 25px auto;
  }
}
/*# sourceMappingURL=style.css.map */