* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

.except-footer-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

a {
  text-decoration: none;
}

.colortop {
  background-color: #EEE;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.topbar {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topbar .company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  font-size: 3rem;
  font-weight: 300;
  -webkit-transform: translateX(-100rem);
          transform: translateX(-100rem);
  -webkit-animation: slideIn .5s forwards;
          animation: slideIn .5s forwards;
}

.topbar .company img {
  height: 62px;
  width: 59px;
}

.topbar .company span {
  margin-top: 10px;
  margin-left: 10px;
  font-family: 'Iceberg', cursive;
  font-size: 24px;
  font-weight: bolder;
  color: #0B507A;
}

.topbar .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}

.topbar .main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topbar .main-nav ul li {
  list-style: none;
  -webkit-transform: translateX(100rem);
          transform: translateX(100rem);
  -webkit-animation: slideIn .5s forwards;
          animation: slideIn .5s forwards;
}

@-webkit-keyframes slideIn {
  from {
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideIn {
  from {
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.topbar .main-nav ul li a {
  padding: 1rem 0;
  margin: 0 1rem;
  position: relative;
  letter-spacing: 2px;
}

.topbar .main-nav ul li a:hover {
  text-decoration: line-through;
}

.topbar .social-nav {
  -webkit-transform: translateX(-100rem);
          transform: translateX(-100rem);
  -webkit-animation: slideIn .5s forwards;
          animation: slideIn .5s forwards;
}

.topbar .social-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topbar .social-nav ul li {
  list-style: none;
  font-size: 25px;
}

.topbar .social-nav ul li a {
  padding: 2px;
}

@media screen and (max-width: 850px) {
  /* MENU STYLES */
  .topbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: auto;
  }
  .topbar .company {
    margin: 5px auto;
    font-size: 1.5rem;
  }
  .topbar .main-nav {
    margin: 0 auto;
  }
  .topbar .main-nav ul li {
    padding: 30px;
    margin: auto;
  }
  .topbar .main-nav ul li:first-child {
    padding-left: -40px;
  }
  .topbar .main-nav ul li a:first-child {
    margin-left: -30px;
  }
  .topbar .main-nav ul li a:last-child {
    margin-right: 0px;
  }
  .topbar .main-nav ul li a:hover {
    text-decoration: line-through;
  }
  .topbar .social-nav {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  /* MENU STYLES */
  .topbar .company {
    margin: 10px auto;
  }
  .topbar .main-nav ul:first-child {
    padding-left: 0px;
  }
  .topbar .main-nav ul li {
    font-size: 0.7rem;
    padding: 20px;
    margin: auto;
  }
  .topbar .main-nav ul li a:first-child {
    margin-left: 30px;
  }
  .topbar .main-nav ul li a:last-child {
    margin-right: 0px;
  }
  .topbar .main-nav ul li a:first-child {
    margin-left: 0;
  }
}

@media screen and (max-width: 437px) {
  /* MENU STYLES */
  .topbar .main-nav {
    margin: 0 auto;
    font-size: 0.7rem;
  }
  .topbar .main-nav ul li {
    padding: 10px;
  }
  .topbar .main-nav ul li a {
    letter-spacing: 0;
  }
  .topbar .social-nav {
    display: none;
  }
}

.header-image {
  background-image: url("/img/Agency header 01 large.png");
  background-color: #cccccc;
  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: auto;
}

.header-text {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  margin: 220px 100px;
}

.header-text h5 {
  /* WE ARE */
  position: absolute;
  width: 150px;
  height: 44px;
  left: 15px;
  top: -50px;
  font-family: 'Rosario', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */
  color: #000000;
}

.header-text h3 {
  /* CREATIVE */
  position: absolute;
  width: 404px;
  height: 82px;
  left: -15px;
  top: -15px;
  font-family: 'Sanchez', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 82px;
  /* identical to box height */
  letter-spacing: 0.155em;
  color: #000000;
}

.header-text h1 {
  /* AGENCY */
  position: absolute;
  width: 140px;
  height: 42px;
  left: 220px;
  top: 55px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}

.header-text2 h5 {
  /* GROW &NURTURE */
  position: absolute;
  width: 350px;
  height: 2px;
  left: 190px;
  top: 350px;
  font-family: 'Acme', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1px;
  /* identical to box height, or 8% */
  letter-spacing: 0.15em;
  color: #FFFFFF;
}

.header-text2 h3 {
  /* THE IDEAS YOU HAVE */
  position: absolute;
  width: 579px;
  height: 2px;
  left: 150px;
  top: 368px;
  font-family: 'Acme', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1px;
  /* identical to box height, or 6% */
  letter-spacing: 0.15em;
  color: #FFFFFF;
}

.header-text2 h1 {
  /* WITH US */
  position: absolute;
  visibility: hidden;
  width: 93px;
  height: 2px;
  left: 165px;
  top: 390px;
  font-family: 'Acme', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1px;
  /* identical to box height, or 7% */
  letter-spacing: 0.15em;
  color: #FFFFFF;
}

@media all and (max-width: 1100px) {
  .header-image {
    background-image: url("/img/agency header01 small02.png");
    background-color: #cccccc;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .header-text {
    display: none;
  }
  .header-text2 {
    display: none;
  }
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 30px;
  margin-top: 10px;
  background-color: #2E2E54;
  color: #fff;
}

.footer-container .fotr-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-container .fotr-main .fotr-contract {
  width: 33%;
}

.footer-container .fotr-main .fotr-help a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.911);
}

.footer-container .fotr-main .Newslatter {
  width: 33%;
}

.footer-container .fotr-main .Newslatter .subscribe-box {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.footer-container .fotr-right {
  max-width: 800px;
  margin: 0 auto;
}

@media all and (max-width: 650px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 30px;
    margin-top: 10px;
    background-color: #2E2E54;
    color: #fff;
  }
  .footer-container .fotr-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-container .fotr-main .fotr-contract {
    width: 90%;
  }
  .footer-container .fotr-main .fotr-help a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.911);
  }
  .footer-container .fotr-main .Newslatter {
    width: 90%;
  }
  .footer-container .fotr-right {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }
}

html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 00;
  height: 100vh;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */